<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table</title>
</head>
<body>
<table>
    <tr>
        <th><h3>REG TABLE</h3></th>
    </tr>
    <tr>
        <th><h3>Username</h3></th>
        <th><h3>Email</h3></th>
        <th><h3>contact info</h3></th>
    </tr>
        <td></td>
    <!--for the data that is inputted from the form -->
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <!-- for the buttons u'll use -->
    <tr>
        <td>
        </td>
    </tr>
</table>
</body>
</html>